<p>
  <strong>Commenter: <%= comment.commenter %></strong>
</p>
<p>
  <strong>Body: <%= comment.body %></strong>
</p>

<% if user_signed_in? %>
  <% if @book.user_id == current_user.id  %>
    <%= link_to "Delete Comment" ,[comment.book ,comment] ,method: :delete ,confirm: {data: "are you sure"} %>
  <% end %>
<% end %>
<hr>