<fieldset style="color: black; background-color:gray;">
<% if @books.blank?%>
  <h4s> There are no Book</h4s>
  <% else %>
  <h4>There are some Books</h4>
  <% @books.each do |book| %>


  <!--<h4><%= link_to book.title ,book_path(book)%></h4>-->

    <a href="/books/<%= book.id %>">
      <%= image_tag book.book_img.url(:book_show) %>
    </a>
    <% end %>
<% end %>
<p><%= paginate @books %></p>
</fieldset>