<% if @books.blank?%>
  <h3>There are no Book</h3>
  <% else %>
  <h3>There are some Books</h3>
  <% @books.each do |book| %>


  <!--<h4><%= link_to book.title ,book_path(book)%></h4>-->

    <a href="/books/<%= book.id %>">
      <%= image_tag book.book_img.url(:book_show) %>
      <!--when you tick an image,it will render 'show' action,it's represent book.title-->
    </a>

    <% end %>
<% end %>
